// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


#hidden-band-form {
  display: none;
}

.show-card {
  border-radius: 10px;
  height: 100%;
  text-align: center;
  display: block;
  overflow: auto;
  margin: 5px 0;
  .date {

  }
  .band {
  }
}

.my-fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
